[Unit]
Description=YakAPI interface
After=syslog.target network-online.target

[Service]
Type=simple
User=root
EnvironmentFile=/etc/default/yakapi.env
ExecStart=/usr/local/bin/yakapi
Restart=always
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
